/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}  
body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Elza', 'Arial', sans-serif;
    color: #ffffff;
}  
#noscript {
    font-size: 1.8rem;
    text-align: center;
    display: block;
    width: 80%;
}
/* Control bar styles */
/* control-bar is the primary container */
#control-bar {
    width: 100%;
    max-width: 1024px;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 52px;
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/*Control bar central cont is the div containing the level status and score status UI elements */
#control-bar-central-cont {
    width: calc(100% - 108px); /* 108px is the total width of the first and last control bar elements */
    height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
/* Control bar - Mute toggle button sttyles */
#mute-container {
    width: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
/* Mute button styles */
#mute-btn {
    width: 40px;
    height: 40px;
    background-image: url("../images/sound_enabled.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
    background-color: transparent;
    border: none;

}
#mute-btn:hover {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    opacity: 0.75;
}
/* Control bar - End game styles button (arrow UI button in control bar) */
#end-button-cont {
    width: 56px;
}
#end-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    background-image: url("../images/arrow_back.png");
    background-size: contain;
    cursor: pointer;
}
#end-btn:hover {
    opacity: 0.75;
}
/* Control bar - Level status indicator styles */
#level-status-container {
    width: 118px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-right: 1px solid #fff;
}
/* The level ring UI element consists of two different rings.  */
#level-ring-container {
    width: 52px;
    height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    flex-direction: row;
}
#level-ring-background {
    stroke-width: 4;
    stroke: #ffffff36;
    fill: transparent;
}
/* Level progress ring is an SVG circle that sits on top of another SVG circle - level-ring-background */
#level-progress-ring {
    stroke: #ffffff;
    stroke-width: 4;
    fill: transparent;
    /*  The stroke dash offset sets the outer ring to the 0% position, this is then updated via JavaScript */
    -webkit-transition: 0.35s stroke-dashoffset;
    -o-transition: 0.35s stroke-dashoffset;
    transition: 0.35s stroke-dashoffset;
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    stroke-dasharray: 150.796, 150.796;
    stroke-dashoffset: 150.796;
}
/* This is the syling for the word 'Level" in the control bar */
#level-label {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 8px;
}
/* This is the number in the middle of the level indicator UI element */
#level-top {
    width: 100%;
    height: 52px;
    padding-top: 1px;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    font-weight: 400;
}
/* Control bar - Score indicator styles */
#score-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 44px;
    padding-left: 12px;
}
#score-display {
    font-size: 24px;
    font-weight: 400;
    margin-right: 8px;
    line-height: 36px;
}
/* Styles for the diamond shape score icon */
#score-container img {
    width: auto;
    height: 24px;
}
/* Outer container is the primary container in the game. It is used to contain the main menu, level up content, questions, incorrect answer menu, game won content */
#outer-container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    z-index: 5;
    padding-top: 24px;
    background-color: #00000020;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
/* Home Screen / Main Menu Styles */
#home-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 75%;
    max-width: 400px;
}
#home-screen img {
    width: 75%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    margin: auto;
}
#home-screen h1 {
    font-family: objektiv-mk3, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3.5rem;
    text-transform: uppercase;
    line-height: 3.9rem;
    padding: 0;
    margin: 0;
}
#home-screen h2 {
    font-family: objektiv-mk3, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 16px 0;
    margin: 0;
}
/* Home Screen - media queries  */
@media screen and (max-width: 500px ) {
    #home-screen h1 {
        font-size: 3.3rem;
        line-height: 3.8rem;
    }
    #home-screen h2 {
        font-size: 1.7rem;
        line-height: 2.0rem;
    }
}
@media screen and (max-width: 420px ) {
    #home-screen h1 {
        font-size: 2.7rem;
        line-height: 2.9rem;
    }
    #home-screen h2 {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}
@media screen and (max-width: 374px ) {
    #home-screen h1 {
        font-size: 2.3rem;
        line-height: 2.5rem;
    }
    #home-screen h2 {
        font-size: 1.1rem;
        line-height: 1.4rem;
        padding: 12px 0;
    }
}
/* Home Screen - media queries for mobile devices in landscape orientation  */
@media  screen and (orientation: landscape) and (max-height: 750px) {
    #home-screen h1 {
        font-size: 2.4rem;
        line-height: 2.7rem;
    }
    #home-screen h2 {
        font-size: 1.3rem;
        line-height: 1.4rem;
    }
    #home-screen img {
        width: 45%;
    }
}
@media  screen and (orientation: landscape) and (max-height: 590px) {
    #home-screen h1 {
        font-size: 1.7rem;
        line-height: 1.9rem;
    }
    #home-screen h2 {
        font-size: 1.0rem;
        line-height: 1.1rem;
        padding: 12px;
    }
    #home-screen img {
        width: 30%;
    }
    #control-bar {
        margin-top: 16px;
    }
}
@media  screen and (orientation: landscape) and (max-height: 495px) {
    #home-screen h1 {
        font-size: 1.7rem;
        line-height: 1.9rem;
    }
    #home-screen h2 {
        font-size: 1.0rem;
        line-height: 1.1rem;
        padding: 12px;
    }
    #home-screen img {
        width: 30%;
    }
    #control-bar {
        margin-top: 10px;
    }
}
@media  screen and (orientation: landscape) and (max-height: 466px) {
    #home-screen h1 {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
    #home-screen h2 {
        font-size: 1.0rem;
        line-height: 1.1rem;
        padding: 12px;
    }
    #home-screen img {
        width: 25%;
    }
    #control-bar {
        margin-top: 10px;
    }
    #main-menu-buttons-flex button {
        height: 2.5rem !important;
        font-size: 1.0rem!important;
    }
}
@media  screen and (orientation: landscape) and (max-height: 466px) {
    #main-menu-buttons-flex {
        margin-top: 8px !important;
    }
}
/* Home screen / main menu navigation button styles */
#main-menu-buttons-flex {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 24px;
}
#main-menu-buttons-flex button {
    height: 3.3rem;
    background-color: #FFFFFF20;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    border-radius: 3.3rem;
    margin-bottom: 1.4rem;
    cursor: pointer;
    margin-bottom: 0.8rem;
    text-transform: uppercase;
}
#main-menu-buttons-flex button:hover {
    border: none;
    background-color: #FFFFFF40;
    cursor: pointer;
}
#main-play {
    width: calc(50% - 4px);
    margin-right: 4px;
}
#main-scores {
    width: calc(50% - 4px);
    margin-left: 4px;
}
#main-how-to-play {
    width: 100%;
}
/* Enter Player Name Styles */
#enter-player-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    max-width: 280px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    -webkit-animation: enter-player-container;
            animation: enter-player-container;
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
#input-warning {
    display: block;
    font-size: 0.8rem;
    color: #fff;
    font-weight: 500;
    width: 100%;
    text-align: left;
    margin-bottom: 16px;
}
#enter-player-container form label {
    display: block;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 16px;
}
#enter-player-container form input[type=text] {
    color: #fff;
    background-color: #FFFFFF20;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 16px;
    border-radius: 38px;
    border: none;
    width: calc(100% - 32px);
    padding: 16px;
    margin-bottom: 16px;
}
#enter-player-container form button {
    color: #fff;
    background-color: #FFFFFF40;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 16px;
    border-radius: 38px;
    border: none;
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}
#enter-player-container form button:hover {
    background-color: #FFFFFF60;
    border: none;
}
/* Enter Player Name Modal animation */
@-webkit-keyframes enter-player-container {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes enter-player-container {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Question Container Styling - question-inner-container is the pdarent div to the question divs */
.question-inner-container {
    margin: 0 16px;
    opacity: 0;
    -webkit-animation: questionInner;
            animation: questionInner;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
/* Question Container Animation */
@-webkit-keyframes questionInner {
    0% {
        -webkit-transform: scale(0.6) translateY(36px);
                transform: scale(0.6) translateY(36px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.0) translateY(0px);
                transform: scale(1.0) translateY(0px);
        opacity: 1;
    }
}
@keyframes questionInner {
    0% {
        -webkit-transform: scale(0.6) translateY(36px);
                transform: scale(0.6) translateY(36px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.0) translateY(0px);
                transform: scale(1.0) translateY(0px);
        opacity: 1;
    }
}
/* Question Type A styles */
.typeA-flag {
    width: 45%;
    height: auto;
    max-width: 384px;
    -webkit-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.32); 
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.32);
}
.typeA-question-form {
    padding: 0 16px;
}
.typeA-question-heading {
    display: block;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    padding: 1.6rem 0;
}
.typeA-question-form button {
    width: 100%;
    max-width: 400px;
    height: 3.3rem;
    background-color: #FFFFFF20;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    border-radius: 3.3rem;
    margin-bottom: 1.4rem;
    cursor: pointer;
}
.typeA-question-form button:hover {
    border: none;
    background-color: #FFFFFF40;
    cursor: pointer;
}
/* Question Type B styles */
.typeB-question-form button img {
    width: auto;
    height: 4rem;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4);
}
.typeB-question-form button {
    width: 100%;
    max-width: 400px;
    height: 6.4rem;
    background-color: #FFFFFF20;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    border-radius: 3.3rem;
    margin-bottom: 1.4rem;
    cursor: pointer;
}
.typeB-question-form button:hover {
    border: none;
    background-color: #FFFFFF40;
    cursor: pointer;
}
.typeB-question-heading {
    display: block;
    font-size: 1.7rem;
    line-height: 3rem;
    font-weight: 400;
    padding: 1.6rem 0 1.0rem 0;
}
/* Level up styles */
#level-up-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 8px;
    max-width: 480px;
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    -webkit-transform: scale(0.0);
        -ms-transform: scale(0.0);
            transform: scale(0.0);
    -webkit-animation: levelup 2s, levelupspin 7s;
            animation: levelup 2s, levelupspin 7s;
}
#level-up-spinner {
    width: 100%;
    height: 100%;
    background-image: url("../images/levelup_spinner.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / span 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    z-index: 4;
    opacity: 0.4;
    -webkit-animation: levelup-spin;
            animation: levelup-spin;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}
#level-up-text {
    font-weight: 600;
    font-size: 2.9rem;
    color: #fff;
    letter-spacing: 0.1rem;
    z-index: 8;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/* animations during level up transition */
/* These keyframes animate the level up div */
@-webkit-keyframes levelup {
    0% {
        -webkit-transform: scale(0.0);
                transform: scale(0.0);
    }
    20% {
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
    80% {
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    
}
@keyframes levelup {
    0% {
        -webkit-transform: scale(0.0);
                transform: scale(0.0);
    }
    20% {
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
    80% {
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    
}
/* These keyframes rotate the levelup background image */
@-webkit-keyframes levelup-spin {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes levelup-spin {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
/* Game Over styles */
#game-over-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-animation: gameOver;
            animation: gameOver;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}
#game-over-text {
    font-size: 2.2rem;
    font-weight: 500;
    padding-bottom: 24px;
}
#game-over-scored {
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 36px;
}
#game-over-cont button {
    width: 100%;
    max-width: 400px;
    height: 3.3rem;
    background-color: #FFFFFF20;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    border-radius: 3.3rem;
    margin-bottom: 1.4rem;
    cursor: pointer;
    text-transform: uppercase;
    color: #ffffff;
}
#game-over-cont button:hover {
    border: none;
    background-color: #FFFFFF40;
}
/* Remove modal animation */
@-webkit-keyframes remove-modal {
    0% {
        -webkit-transform: scale(1.0) translateY(0);
                transform: scale(1.0) translateY(0);
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(0.8) translateY(32px);
                transform: scale(0.8) translateY(32px);
        opacity: 0;
    }    
}
@keyframes remove-modal {
    0% {
        -webkit-transform: scale(1.0) translateY(0);
                transform: scale(1.0) translateY(0);
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(0.8) translateY(32px);
                transform: scale(0.8) translateY(32px);
        opacity: 0;
    }    
}
/* This animation is for game over */
@-webkit-keyframes gameOver {
    0% {
        -webkit-transform: scale(0.7) translateY(24px);
                transform: scale(0.7) translateY(24px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.0) translateY(0px);
                transform: scale(1.0) translateY(0px);
        opacity: 1.0;
    }    
}
@keyframes gameOver {
    0% {
        -webkit-transform: scale(0.7) translateY(24px);
                transform: scale(0.7) translateY(24px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.0) translateY(0px);
                transform: scale(1.0) translateY(0px);
        opacity: 1.0;
    }    
}
/* Question answer button animations */
/* Flashes green the corect answer */
@-webkit-keyframes correctAnswer {
    0% {
        background-color: #00FF6260;
    }
    20% {
        background-color: #00FF6290;
    }
    40% {
        background-color: #00FF6260;
    }
    60% {
        background-color: #00FF6290;
    }
    80% {
        background-color: #00FF6260;
    }
    100% {
        background-color: #00FF6290;
    }
}
@keyframes correctAnswer {
    0% {
        background-color: #00FF6260;
    }
    20% {
        background-color: #00FF6290;
    }
    40% {
        background-color: #00FF6260;
    }
    60% {
        background-color: #00FF6290;
    }
    80% {
        background-color: #00FF6260;
    }
    100% {
        background-color: #00FF6290;
    }
}
/* Flahses red the selected incorrect answer */
@-webkit-keyframes incorrectAnswer {
    0% {
        background-color: #F03B3B77;
    }
    20% {
        background-color: #F03B3B97;
    }
    40% {
        background-color: #F03B3B77;
    }
    60% {
        background-color: #F03B3B97;
    }
    80% {
        background-color: #F03B3B77;
    }
    100% {
        background-color: #F03B3B97;
    }
}
@keyframes incorrectAnswer {
    0% {
        background-color: #F03B3B77;
    }
    20% {
        background-color: #F03B3B97;
    }
    40% {
        background-color: #F03B3B77;
    }
    60% {
        background-color: #F03B3B97;
    }
    80% {
        background-color: #F03B3B77;
    }
    100% {
        background-color: #F03B3B97;
    }
}
/* Gradient background styles */
.gradient {
    width: 100%;
    min-height: 100%;
    height: 100%;
    -webkit-transition: 1.0s ease-in-out;
    -o-transition: 1.0s ease-in-out;
    transition: 1.0s ease-in-out;
    top: 0;
    left: 0;
    position: fixed;
}
#gradient-0 {
    z-index: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#2c003e), to(#011531));
    background: -o-linear-gradient(bottom, #2c003e 0%, #011531 100%);
    background: linear-gradient(0deg, #2c003e 0%, #011531 100%);
    opacity: 1.0;
}
#gradient-1 {
    z-index: -1;
    background: -webkit-gradient(linear, left bottom, left top, from(#02337e), to(#15554b));
    background: -o-linear-gradient(bottom, #02337e 0%, #15554b 100%);
    background: linear-gradient(0deg, #02337e 0%, #15554b 100%);
    opacity: 1.0;
}
#gradient-2 {
    z-index: -2;
    background: -webkit-gradient(linear, left bottom, left top, from(#818aef), to(#133a94));
    background: -o-linear-gradient(bottom, #818aef 0%, #133a94 100%);
    background: linear-gradient(0deg, #818aef 0%, #133a94 100%);
    opacity: 1.0;
}
#gradient-3 {
    z-index: -3;
    background: -webkit-gradient(linear, left bottom, left top, from(#1f4037), to(#567e6b));
    background: -o-linear-gradient(bottom, #1f4037 0%, #567e6b 100%);
    background: linear-gradient(0deg, #1f4037 0%, #567e6b 100%);
    opacity: 1.0;
}
#gradient-4 {
    z-index: -4;
    background: -webkit-gradient(linear, left bottom, left top, from(#aa4b6b), color-stop(66%, #6b6b83), to(#3b8d99));
    background: -o-linear-gradient(bottom, #aa4b6b 0%, #6b6b83 66%, #3b8d99 100%);
    background: linear-gradient(0deg, #aa4b6b 0%, #6b6b83 66%, #3b8d99 100%);
    opacity: 1.0;
}
#gradient-5 {
    z-index: -5;
    background: -webkit-gradient(linear, left bottom, left top, from(#44a08d), to(#093637));
    background: -o-linear-gradient(bottom, #44a08d 0%, #093637 100%);
    background: linear-gradient(0deg, #44a08d 0%, #093637 100%);
    opacity: 1.0;

}
#gradient-6 {
    z-index: -6;
    background: -webkit-gradient(linear, left bottom, left top, from(#c33764), to(#1d2671));
    background: -o-linear-gradient(bottom, #c33764 0%, #1d2671 100%);
    background: linear-gradient(0deg, #c33764 0%, #1d2671 100%);
    opacity: 1.0;
}
#gradient-7 {
    z-index: -7;
    background: -webkit-gradient(linear, left bottom, left top, from(#F3904F), to(#3b4371));
    background: -o-linear-gradient(bottom, #F3904F 0%, #3b4371 100%);
    background: linear-gradient(0deg, #F3904F 0%, #3b4371 100%);
    -webkit-transition: 1.0s ease-in-out;
    -o-transition: 1.0s ease-in-out;
    transition: 1.0s ease-in-out;
}
#gradient-8 {
    z-index: -8;
    background: -webkit-gradient(linear, left bottom, left top, from(#000428), to(#004e92));
    background: -o-linear-gradient(bottom, #000428 0%, #004e92 100%);
    background: linear-gradient(0deg, #000428 0%, #004e92 100%);
    opacity: 1.0;
}
#gradient-9 {
    z-index: -9;
    background: -webkit-gradient(linear, left bottom, left top, from(#62a1b6), to(#00858e));
    background: -o-linear-gradient(bottom, #62a1b6 0%, #00858e 100%);
    background: linear-gradient(0deg, #62a1b6 0%, #00858e 100%);
    opacity: 1.0;
}
#gradient-10 {
    z-index: -10;
    background: -webkit-gradient(linear, left bottom, left top, from(#cf99a2),  to(#800080));
    background: -o-linear-gradient(bottom, #cf99a2 0%,  #800080 100%);
    background: linear-gradient(0deg, #cf99a2 0%,  #800080 100%);
    opacity: 1.0;
}
/* Game won styles & animations */
#game-won-container {
    width: 80%;
    aspect-ratio: 1 / 1;
    max-width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    margin: 16px;
    -webkit-animation: game-won-animation 1.2s ease-in-out 0.3s 1 forwards;
            animation: game-won-animation 1.2s ease-in-out 0.3s 1 forwards;
    opacity: 0;
}
/* Styling for image of ring of flags */
#spinner {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    background-image: url("../images/flag_ring.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation: game-won-spinner 10s infinite linear;
            animation: game-won-spinner 10s infinite linear;
}
#game-won-badge {
    z-index: 6;
    width: 70%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    -webkit-animation: badge-animation 0.6s ease-in-out 0.7s 1 forwards;
            animation: badge-animation 0.6s ease-in-out 0.7s 1 forwards;
}
#game-won-badge img {
    height: 100%;
    width: auto;
}
/* Game complete/won animations */
/* Rotates the circle containing different flags image */
@-webkit-keyframes game-won-spinner {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes game-won-spinner {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
/* Fades and zooms in images and game won text */
@-webkit-keyframes game-won-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.75);
                transform: scale(0.75);
    }
    100% {
        opacity: 1.0;
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}
@keyframes game-won-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.75);
                transform: scale(0.75);
    }
    100% {
        opacity: 1.0;
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}
@-webkit-keyframes badge-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.75);
                transform: scale(0.75);
    }
    100% {
        opacity: 1.0;
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}
@keyframes badge-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.75);
                transform: scale(0.75);
    }
    100% {
        opacity: 1.0;
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}
/* Styles for the modal if the user wishes to quit the game */
#end-game-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 51;
    background-color: #00000090;
    -webkit-backdrop-filter: blur(24px);
            backdrop-filter: blur(24px);
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
/* Inner layout of end game modal */
#end-game-inner {
    width: 100%;
    margin: 0 16px;
    max-width: 400px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
#end-game-inner p {
    line-height: 24px;
}
#end-game-heading {
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    display: inline-block;
}
.end-game-buttons {
    width: 200px;
    background-color: #ffffff20;
    color: #fff;
    border: none;
    height: 48px;
    margin: 8px auto;
    border-radius: 24px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.end-game-buttons:hover {
    background-color: #ffffff32;
}