html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}  
body {
    box-sizing: border-box;
    font-family: 'Elza', 'Arial', sans-serif;
}  
#gradient-bg {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background: linear-gradient(0deg, rgb(40, 2, 55) 0%, rgba(5,23,49,1) 100%);
    min-height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}
/* Control bar styles */
#control-bar {
    width: 100%;
    max-width: 1024px;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 52px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0 16px;
    align-items: center;
}
#mute-container {
    width: 30%;
    display: flex;
    align-content: center;
    justify-content: flex-start;
}
#mute-btn {
    width: 40px;
    height: 40px;
    background-image: url("../images/sound_enabled.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.0);
    transition: 0.4s;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#mute-btn:hover {
    transition: 0.4s;
    transform: scale(1.4);
}
#level-status-container {
    width: 40%;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
}
#level-ring-container {
    width: 52px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
}
#level-ring-background {
    stroke-width: 4;
    stroke: #ffffff36;
    fill: transparent;
}
#level-progress-ring {
    stroke: #ffffff;
    stroke-width: 4;
    fill: transparent;
    transition: 0.35s stroke-dashoffset;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    stroke-dasharray: 150.796, 150.796;
    stroke-dashoffset: 150.796;
}
#level-label {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    align-content: center;
    align-items: center;
    margin-right: 8px;
}
#level-top {
    width: 100%;
    height: 52px;
    padding-top: 1px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    font-weight: 400;
}
#score-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    width: 30%;
}
#score-display {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin-right: 8px;
    line-height: 36px;
}
#score-container img {
    width: auto;
    height: 32px;
}
#outer-container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    z-index: 5;
    padding-top: 40px;
    background-color: #00000020;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Home Screen Styles */
#home-screen {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75%;
    max-width: 400px;
}
#home-screen img {
    width: 75%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    margin: auto;
}
#home-screen h1 {
    font-family: objektiv-mk3, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 3.9rem;
    padding: 0;
    margin: 0;
}
#home-screen h2 {
    font-family: objektiv-mk3, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #ffffff;
    padding: 16px 0;
    margin: 0;
}
@media screen and (max-width: 500px ) {
    #home-screen h1 {
        font-size: 3.3rem;
        line-height: 3.8rem;
    }
    #home-screen h2 {
        font-size: 1.7rem;
        line-height: 2.0rem;
    }
}
@media screen and (max-width: 420px ) {
    #home-screen h1 {
        font-size: 2.7rem;
        line-height: 2.9rem;
    }
    #home-screen h2 {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}
@media screen and (max-width: 374px ) {
    #home-screen h1 {
        font-size: 2.3rem;
        line-height: 2.5rem;
    }
    #home-screen h2 {
        font-size: 1.1rem;
        line-height: 1.4rem;
        padding: 12px 0;
    }
}
@media  screen and (orientation: landscape) and (max-height: 750px) {
    #home-screen h1 {
        font-size: 2.4rem;
        line-height: 2.7rem;
    }
    #home-screen h2 {
        font-size: 1.3rem;
        line-height: 1.4rem;
    }
    #home-screen img {
        width: 45%;
    }
}
@media  screen and (orientation: landscape) and (max-height: 590px) {
    #home-screen h1 {
        font-size: 1.7rem;
        line-height: 1.9rem;
    }
    #home-screen h2 {
        font-size: 1.0rem;
        line-height: 1.1rem;
        padding: 12px;
    }
    #home-screen img {
        width: 30%;
    }
    #control-bar {
        margin-top: 16px;
    }
}
@media  screen and (orientation: landscape) and (max-height: 495px) {
    #home-screen h1 {
        font-size: 1.7rem;
        line-height: 1.9rem;
    }
    #home-screen h2 {
        font-size: 1.0rem;
        line-height: 1.1rem;
        padding: 12px;
    }
    #home-screen img {
        width: 30%;
    }
    #control-bar {
        margin-top: 10px;
    }
}
@media  screen and (orientation: landscape) and (max-height: 466px) {
    #home-screen h1 {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
    #home-screen h2 {
        font-size: 1.0rem;
        line-height: 1.1rem;
        padding: 12px;
    }
    #home-screen img {
        width: 25%;
    }
    #control-bar {
        margin-top: 10px;
    }
    #main-menu-buttons-flex button {
        height: 2.5rem !important;
        font-size: 1.0rem!important;
    }
}
@media  screen and (orientation: landscape) and (max-height: 466px) {
    #main-menu-buttons-flex {
        margin-top: 8px !important;
    }
}
#main-menu-buttons-flex {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 24px;
}
#main-menu-buttons-flex button {
    height: 3.3rem;
    background-color: #FFFFFF20;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    border-radius: 3.3rem;
    margin-bottom: 1.4rem;
    cursor: pointer;
    margin-bottom: 0.8rem;
}
#main-play {
    width: calc(50% - 8px);
    margin-right: 8px;
}
#main-scores {
    width: calc(50% - 8px);
    margin-left: 8px;
}
#main-how-to-play {
    width: 100%;
}
/* Question Type A styles */
.typeA-flag {
    width: 45%;
    height: auto;
    max-width: 384px;
}
.typeA-question-heading {
    display: block;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    padding: 1.6rem 0;
}
.typeA-question-form button {
    width: 100%;
    max-width: 400px;
    height: 3.3rem;
    background-color: #FFFFFF20;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    border-radius: 3.3rem;
    margin-bottom: 1.4rem;
    cursor: pointer;
}
.typeA-question-form button:hover {
    border: none;
    background-color: #FFFFFF40;
    cursor: pointer;
}
/* Question Type B styles */
.typeB-question-form button img {
    width: auto;
    height: 4rem;
}
.typeB-question-form button {
    width: 100%;
    max-width: 400px;
    height: 6.4rem;
    background-color: #FFFFFF20;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    border-radius: 3.3rem;
    margin-bottom: 1.4rem;
    cursor: pointer;
}
.typeB-question-form button:hover {
    border: none;
    background-color: #FFFFFF40;
    cursor: pointer;
}
.typeB-question-heading {
    display: block;
    color: #fff;
    font-size: 1.7rem;
    line-height: 3rem;
    font-weight: 400;
    padding: 1.6rem 0 1.0rem 0;
}
/* level up styles */
#level-up-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 8px;
    max-width: 480px;
    display: inline-grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    transform: scale(0.0);

}
#level-up-spinner {
    width: 100%;
    height: 100%;
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
    z-index: 4;
    opacity: 0.4;
    animation: levelup-spin;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#level-up-text {
    font-weight: 600;
    font-size: 2.9rem;
    color: #fff;
    letter-spacing: 0.1rem;
    z-index: 8;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* animations during level up */
@keyframes levelup {
    0% {
        transform: scale(0.0);
    }
    20% {
        transform: scale(1.0);
    }
    80% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(0);
    }
    
}
@keyframes levelup-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#game-over-cont {
    display: flex;
    flex-direction: column;
    scale: 0;
}
#game-over-text {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 500;
    padding-bottom: 24px;
}
#game-over-scored {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
    padding-bottom: 36px;
}
#game-over-cont button {
    width: 100%;
    max-width: 400px;
    height: 3.3rem;
    background-color: #FFFFFF20;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    border-radius: 3.3rem;
    margin-bottom: 1.4rem;
    cursor: pointer;
    text-transform: uppercase;
}
#game-over-cont button:hover {
    border: none;
    background-color: #FFFFFF40;
}
@keyframes gameOver {
    0% {
       transform: scale(0);
    }
    100% {
        transform: scale(1.0);
    }
}